<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Agendamiento de Citas - Tu Amigo Peludo</title>
</head>
<body>

  <!-- <header>
  
  </header>

  <div class="navbar">
    <img src="logo_veterinaria.png" alt="Logo veterinaria">
    <h1>VETERINARIA TU AMIGO PELUDO<br><small>Agendamiento de citas</small></h1>
    <button>Ir al sitio web</button>
  </div> -->

  <div class="welcome">
    <p>¡Te damos la bienvenida al agendamiento de citas!</p>
  </div>

  <div class="logo-section">
    <img src="assets/ImgProyect/dogcat.svg" alt="Dog and Cat">
    <h2>DOG AND CAT</h2>
  </div>

  <div class="options">
    <div class="option-card">
      <img src="assets/ImgProyect/agendar.svg" alt="Agendar">
      <button [routerLink]="['/agendamientos/cita']" routerLinkActive="router-link-active" >AGENDAR UNA CITA</button>
    </div>
    <div class="option-card">
      <img src="assets/ImgProyect/consultar.svg" alt="Consultar">
      <button [routerLink]="['/agendamientos/consultar']" routerLinkActive="router-link-active">CONSULTA TU CITA</button>
    </div>
    <div class="option-card">
      <img src="assets/ImgProyect/cancelar.svg" alt="Cancelar">
      <button [routerLink]="['/agendamientos/cancelar']" routerLinkActive="router-link-active">CANCELA TU CITA</button>
    </div>
  </div>

</body>
</html>
